{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "16.0.0"
    }
  }
}